<%= form_for("user", multipart: true, url: "/profile/save") do |f| %>
  <h1>アイコン</h1>
  <div><%= image_tag(
  "/profile/%d/icon" % @user.id,
  :alt => "%s:%s" % [@user.provider.capitalize, @user.screen_name],
  :style => "width: auto; height: 128px",
  ) %></div>
  <%= f.file_field "profile_image", accept: "image/*" %>

  <h1>名前</h1>
  <%= text_field "user", "name" %>

  <h1>自己紹介</h1>
  <%= text_area "user", "description" %>

  <h1><%= @user.provider.capitalize %>へのリンク</h1>
  <%= check_box "user", "provider_visible" %><label for='user_provider_visible'><%= @user.provider_visible ? "表示する" : "表示しない" %></label>

  <hr />

  <%= f.submit "保存" %>
<% end %>

<script>
$("input[type!='text']").button();
$("#user_provider_visible").change(function(){
  $("label[for='user_provider_visible'] .ui-button-text").text($(this).prop("checked") ? "表示する" : "表示しない");
});
</script>
