<h1><%= image_tag(
  "/profile/%d/icon" % @user.id,
  :alt => "%s:%s" % [@user.provider.capitalize, @user.screen_name],
  :style => "width: auto; height: 128px",
  ) %>
<%= @user.name %> <% if @user.provider_visible %>(<%=
  case @user.provider
  when "twitter"
    link_to "Twitter", "https://twitter.com/%s" % @user.screen_name, target: "_blank"
  when "facebook"
    link_to "Facebook", "https://www.facebook.com/app_scoped_user_id/%d" % @user.user_id, target: "_blank"
  end
  %>)<% end  %>
</h1>

<h2>自己紹介</h2>
<p><%= multiline_html @user.description %></p>

<% if @user.id == session[:user_id] %>
<a id='edit-profile' href='/profile/edit'>プロフィールを編集する</a>
<% end %>

<h2>投稿</h2>
<ul id='issues'>
<% @issues.each{|elem| %>
  <li><div><%= elem.first %>、<%= elem.second %>ように、運命とは避けがたく時に儚いもの。</div><div><%= link_to elem.created_at, "/issue/%d" % elem.id %></div></li>
<% } %>
</ul>

<script>
$("#edit-profile").button();
</script>
