<!DOCTYPE html>
<html>
<head>
  <title><% if defined? @pagetitle then %><%= @pagetitle %> - <% end %>運命とは避けがたく時に儚いSNS</title>
  <%= javascript_include_tag 'http://code.jquery.com/jquery-1.11.1.min.js' %>
  <%= stylesheet_link_tag 'http://code.jquery.com/ui/1.11.0/themes/humanity/jquery-ui.css' %>
  <%= javascript_include_tag 'http://code.jquery.com/ui/1.11.0/jquery-ui.min.js' %>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>

  <!-- Bootstrap -->
  <%= stylesheet_link_tag 'https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %>
    <%= javascript_include_tag 'https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' %>
  <![endif]-->

  <%= csrf_meta_tags %>

  <%= yield :head %>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="nav navbar-nav navbar-left">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span style="color: #999">Menu</span></button>
        <a class="navbar-brand" href="/"><img src='/favicon.ico' alt='儚' /></a>
      </div>
      <ul class='nav navbar-nav navbar-right'>
<% if @user = current_user %>
        <li><a href='/profile'><%= @user.provider.capitalize %>:<%= @user.screen_name %></a></li>
        <li><%= link_to 'Logout', logout_path %></li>
<% else %>
  <li><a class="dropdown-toggle" type="button" id="LoginMenu" data-toggle="dropdown">Login</a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="LoginMenu">
      <li><%= link_to 'with Twitter', '/auth/twitter' %></li>
      <li><%= link_to 'with Facebook', '/auth/facebook' %></li>
    </ul></li>
<% end %>
      </ul>
    </div>
  </div>

  <div class='container main-containts'>
    <%= yield %>
  </div>

  <hr />
  <p style='text-align:right'>Help me on <a href='https://github.com/7kry/hakanai' target='_blank'>GitHub</a><br />バグ報告は<a href='https://github.com/7kry/hakanai/issues' target='_blank'>こっち</a>。<br />よかったら<a href='https://twitter.com/_7kry' target='_blank'>Followしてやってください</a>。</p>
  <!-- Bootstrap -->
  <%= javascript_include_tag 'https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js' %>
</body>
</html>
