<!DOCTYPE html>
<html>
<head>
  <title><% if defined? @pagetitle then %><%= @pagetitle %> - <% end %>運命とは避けがたく時に儚いSNS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <%= current_user.provider.capitalize %>:<%= current_user.screen_name %> <%= link_to 'Logout', logout_path %>
<% else %>
  <%= link_to 'Login with Twitter', '/auth/twitter' %>
<% end %>

<%= yield %>

</body>
</html>
